/*HEADER*/
.intro-text { 
    font-family: 'Lobster';
    color: blue;
    font-size: 40px;
    width: 100%;
    display: flex;/*инф. указана в макете нет у преподавателя*/
    justify-content: center;
}
.shop {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.photo-baner {
    width: 100%;/*адаптивный элемент*/
    max-width: 1700px; /*адаптивный элемент max*/
    height: auto; /*поменяли 316px на auto. получили адаптив картинки*/
    border: 2px solid #EA5D21;
    margin: 0 auto;
    display: flex; /*эта команда говорит: содержимое кнопки - ячейка flex*/
    justify-content: center; /* justify-content (выравнивание содержимого)
    контент content ячейки текст  будет по середине center от края по оси х*/
    align-items: center;
}
/*BODY*/

.photo-love {
    width: 100%;
    max-width: 400px; /* адаптивный элемент max*/
    min-height: 300px; /*поменяли 316px на auto. получили адаптив картинки*/
    margin: 0 auto;
    display: flex; /*эта команда говорит: содержимое кнопки - ячейка flex*/
    justify-content: center; /* justify-content (выравнивание содержимого)
    контент content ячейки текст  будет по середине center от края по оси х*/
    align-items: center;
}
.style-brend {
    color: red;
    font-size: 20px;
    display: flex; /*эта команда говорит: содержимое кнопки - ячейка flex*/
    justify-content: center; /* justify-content (выравнивание содержимого)
    контент content ячейки текст  будет по середине center от края по оси х*/
    align-items: center;
}
.text-about { 
     color: coral; 
     font-size: xx-large;
     display: flex;/*инф. указана в макете нет у преподавателя*/
     justify-content: center;
}
.text-feedback {
    color: blue;
    font-size: 20px;
    display: flex;/*инф. указана в макете нет у преподавателя*/
    justify-content: center;
}
.shops {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: red;
    margin: 0;
}
.li {
    color: coral; 
    display: flex;/*инф. указана в макете нет у преподавателя*/
    justify-content: space-between;    /*с помощью этого элемента кнопка входа стоит отдельно.
    выравнивание содержимого: пробел между*/
    width: 100%;/*адаптивный элемент*/
    flex-wrap: wrap; /*Позволяет двигаться словам в зависимости от стиля экрана. адаптивный элемент*/
    box-sizing: border-box;
    max-width: 1300px; /*адаптивный элемент max*/
    margin: 0 auto;
    padding: 0 15px;
    min-height: 80px;
    align-items: center;
}
table, tr, th, td {
    border: 1px solid red;
    width: 300px;
    height: 10px;
 }
 /*@media (max-width: 1500px) {
    .table {
        box-sizing: border-box;
        width: 100%;
    }
    
 }*/