/*HEADER*/
.intro-text { 
    font-family: 'Lobster';
    color: blue;
    font-size: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.shop {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.photo-baner {
    width: 100%;
    max-width: 1700px;
    height: auto; 
    border: 2px solid #EA5D21;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    align-items: center;
}
/*MAIN*/

.photo-love {
    width: 100%;
    max-width: 400px;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.style-brend {
    color: red;
    font-size: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.text-about { 
     color: coral; 
     font-size: xx-large;
     display: flex;
     justify-content: center;
}
.text-feedback {
    color: blue;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.shops {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: red;
    margin: 0;
}
.li {
    color: coral; 
    display: flex;
    justify-content: space-between; 
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 80px;
    align-items: center;
}
table, tr, th, td {
    border: 1px solid red;
    width: 300px;
    height: 10px;
    align-items: center;
 }
 /*@media (max-width: 1500px) {
    .table {
        box-sizing: border-box;
        width: 100%;
    }
    
 }*/